<div class="w-screen flex flex-col h-screen bg-gray-50">
    <app-header></app-header>

    <div
        class="flex flex-col flex-grow p-4 todos-container"
        style="overflow: auto"
    >
        <mat-list>
            <ng-container *ngIf="games.length; else emptyList">
                <mat-list-item *ngFor="let game of games">
                    <img matListAvatar src="..." alt="..." />
                    <h3 matLine>{{ game.name }}</h3>
                    <p matLine>
                        <span> {{ game?.year | date: "YYYY" }} </span>
                        <span class="demo-2">
                            -- {{ game?.consoles | join: ", " }}
                        </span>
                    </p>
                </mat-list-item>
            </ng-container>
            <ng-template #emptyList>
                <span class="h-full flex justify-center items-center">
                    You do have any games yet!
                </span>
            </ng-template>
        </mat-list>
        <mat-paginator
            [length]="100"
            [pageSize]="10"
            [pageSizeOptions]="[5, 10, 25, 100]"
            aria-label="Select page"
        >
        </mat-paginator>
        <!-- <div
            [ngClass]="{ 'auto-rows-min': games.length }"
            class="
                p-2
                border
                flex-grow
                grid
                gap-2
                grid-cols-1
                h-2/3
                overflow-y-scroll
                first:mt-8
            "
        >
            <ng-container *ngIf="games.length; else emptyList">
                <app-game-item
                    *ngFor="let todo of games"
                    [todo]="todo"
                    (delete)="delete(todo.id)"
                    (toggleComplete)="toggleAcquired(todo.id, todo.is_acquired)"
                >
                </app-game-item>
            </ng-container>
            <ng-template #emptyList>
                <span class="h-full flex justify-center items-center">
                    You do have any games yet!
                </span>
            </ng-template>
        </div> -->
        <!-- <div *ngIf="errorText" class="error">
            {{ errorText }}
        </div>
        <form
            [formGroup]="todoForm"
            (ngSubmit)="addTodo()"
            class="flex m-4 mt-0 h-10 mt-8"
        >
            <input
                formControlName="game"
                type="text"
                placeholder="Game"
                class="bg-gray-200 border px-2 border-gray-300 w-full mr-4"
            />
            <input
                formControlName="platform"
                type="text"
                placeholder="Platform"
                class="bg-gray-200 border px-2 border-gray-300 w-50 mr-4"
            />

            <input
                class="bg-gray-200 border px-2 border-gray-300 w-20 mr-4"
                type="number"
                min="1900"
                max="2100"
                formControlName="year"
            />
            <button type="submit" color="primary" mat-flat-button>Add</button>
        </form> -->
    </div>
</div>
