<!-- background: #ffc500 -->
<div class="grid grid-rows-4 grid-flow-col gap-4 p-4" style="overflow: auto">
    <app-game-item *ngFor="let game of games$ | async" [todo]="game"></app-game-item>

    <!-- <mat-list>
        <ng-container *ngIf="games.length; else emptyList">
            <mat-list-item *ngFor="let game of games">
                <img matListAvatar [src]="game.img_url" alt="..." />
                <h3 matLine>{{ game.name }}</h3>
                <p matLine>
                    <span> {{ game?.year | date: 'YYYY' }} </span>
                    <span class="demo-2"> -- {{ game?.consoles | join: ', ' }} </span>
                </p>
            </mat-list-item>
        </ng-container>
        <ng-template #emptyList>
            <span class="h-full flex justify-center items-center"> You do have any games yet! </span>
        </ng-template>
    </mat-list> -->
    <!-- <mat-paginator
    [length]="100"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25, 100]"
    aria-label="Select page"
>
</mat-paginator> -->
</div>
